.work-full-container {
  width: 100%;
  height: fit-content;
  display: flex;
  font-family: sans-serif;
}
.work-text-div {
  width: 100%;
  margin-top: 80px;
  padding: 0px 25%;
}
.work-text {
  font-size: 3.7rem;
  letter-spacing: 3px;
}

.work-text-links {
  font-weight: 900;
  text-decoration: none;
  color: var(--linkCol);
  text-shadow: var(--x) var(--y) 0.0625em var(--shadowCol);
}
